@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

ul
	padding: 0
ul li
	list-style: none
	position: relative
	a, a:hover, a:active, a:visited
		text-decoration: none
	a
		// transition: 0.2s
		padding: 55px 22px
	&.dropdown
		ul
			display: none !important
			position: absolute
			z-index: 5
			top: 138px
			left: 0
			min-width: 250px
			background-color: $accent
			padding: 10px 0

			li a
				padding: 7px 31px
		&:hover
			a
				background-color: $accent
			ul
				display: inline-table !important

header
	border-bottom: solid 1px #f2f3f5
	#contacts
		background-image: url("../img/pattern50.png")
		border-bottom: solid 1px #f2f3f5
		max-height: 61px
		padding-top: 20px
		padding-bottom: 20px
		font-size: 12px
		.container
			.left
				float: left
				.item
					float: left
					img
						padding-right: 10px
					&:not(:first-child)
						padding-left: 27px
			.right
				float: right
				.socials
					.fa
						font-size: 11px
						&:not(:first-child)
							padding-left: 22px
	#navigation

		#logo
			float: left
			display: table
			padding: 27px 0
		ul
			margin: 0

			display: table
			float: left
			li
				display: inline-flex
				a
					font-size: 1em

			.dropdown
				&:hover
					a
						color: white
					ul
						position: absolute
		#locale
			float: right
			padding: 55px 0
			a
				&:not(:first-child)
					padding-left: 1em
				&.active
					font-weight: bold
					color: $accent

section
	h2
		font-size: 36px
		text-transform: uppercase
		color: #5d503c
		&:not(.left-align)
			padding-top: 60px
			padding-bottom: 40px
			text-align: center
		span
			color: #b69b71

.flex
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-items: center
	justify-content: center


#homepage
	.banner
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6e6e6+0,e6e6e6+77&1+41,0+52,0+52 */
		background: -moz-linear-gradient(left,  rgba(230,230,230,1) 0%, rgba(230,230,230,1) 41%, rgba(230,230,230,0) 52%, rgba(230,230,230,0) 77%)
		background: -webkit-linear-gradient(left,  rgba(230,230,230,1) 0%,rgba(230,230,230,1) 41%,rgba(230,230,230,0) 52%,rgba(230,230,230,0) 77%)
		background: linear-gradient(to right,  rgba(230,230,230,1) 0%,rgba(230,230,230,1) 41%,rgba(230,230,230,0) 52%,rgba(230,230,230,0) 77%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#00e6e6e6',GradientType=1 )

		.flex
			height: 450px
			.item
				height: inherit
				width: 50%
				display: table
				.text
					position: relative
					width: 100%
					display: table-cell
					vertical-align: middle
					padding-left: 100px
					h2, p
						margin: 0
					&.decorator
						&::before
					    content: ""
					    display: inline-table
					    width: 10px
					    height: 88px
					    background-image: url("../img/decorator-banner.png")
					    position: absolute
					    left: 0
					    margin-top: 12px
				&-img
					float: right
					margin-top: 35px
	#solutions
		.flex
			justify-content: space-around
			.item
				// background-color: #000
				margin: 15px
				img
					width: 525px
					height: auto
					box-shadow: 0 5px 15px rgba(0,0,0,0.1)
				.description
					padding-top: 35px
					text-align: center
					font-size: 20px
					color: #24211e
	#news
		background-image: url("../img/pattern50.png")
		padding-bottom: 55px
		.flex
			.item
				margin: 15px
				display: inline-table
				width: 50%
				min-width: 50%
				img
					border-radius: 50%
					width: 125px
					height: 125px
					float: left
				.description
					vertical-align: middle
					display: table-cell
					line-height: normal
					font-size: 18px
					color: #24211e
					max-width: 315px

@import "media" // Всегда в конце
